<page-header [title]="'创建学院'" [recursiveBreadcrumb]=true>  </page-header>
<nz-card [nzBordered]="false">
  <nz-steps [nzCurrent]="item.step">
    <nz-step nzTitle="选择学校"></nz-step>
    <nz-step nzTitle="选择学院"></nz-step>
    <nz-step nzTitle="填写学院基本信息"></nz-step>
    <nz-step nzTitle="完成"></nz-step>
  </nz-steps>
  <app-school-major-create-step1 *ngIf="item.step === 0"></app-school-major-create-step1>
  <app-school-major-create-step2 *ngIf="item.step === 1"></app-school-major-create-step2>
  <app-school-major-create-step3 *ngIf="item.step === 2"></app-school-major-create-step3>
  <app-school-major-create-step4 *ngIf="item.step === 3"></app-school-major-create-step4>
</nz-card>
